$font-stack:    "Ubuntu Light", Verdana, Tahoma;
$primary-background: rgba(46, 64, 82, 0.8);
$strong-background: rgba(46, 64, 82, 1);
$primary-background-hover: rgba(60, 82, 110, 0.9);
$primary-textcolor: #F2F2FF;

@font-face {
    font-family: "Ubuntu Light";
    src: url('../fonts/Ubuntu-L.ttf') format("truetype");
}

html {
    background: url('../img/bg.jpg') no-repeat;
    height: 100%;
}

body {
    font: 100% $font-stack;
    padding: 0;
    margin: 0;
    height: auto;
    width: 100%;

    .background-video {
        position: fixed;
        z-index: -100;
        min-height: 100%;
        min-width: 100%;
    }

    footer {
        height: 60px;
        width: 100%;
        background-color: $primary-background;
        position: fixed;
        bottom: 0;
        box-shadow: 1px -11px 40px 0px rgba(0,0,0,0.75);

        .copyright {
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            bottom: 15px;
            display: block;
            text-align: center;
            color: $primary-textcolor;
        }
    }
}

#login {
    height: auto;
    width: 25%;
    min-width: 366px;
    max-width: 526px;
    background-color: $primary-background;
    position: absolute;
    right: 0;
    top: 94px;
    padding: 15px 23px;
    box-shadow: 0 0 5px black;
    transition: 1s ease;
    display: none;

    input[type=text],
    input[type=email],
    input[type=password] {
        width: 95%;
        overflow: hidden;
        font-size: 16px;
        line-height: 16px;
        padding: 17px 11px;
        background-color: rgba(0,0,0,0.1);
        border: none;
        display: block;
        margin-bottom: 8px;
        color: $primary-textcolor;

        &:focus {
            outline: 1px solid #005E61;
        }
    }

    .submit {
        background-color: $strong-background;
        box-shadow: 0 0 3px black;
        padding: 14px 30px;
        font-size: 15px;
        display: inline-block;
        text-align: center;
        color: $primary-textcolor;
        text-transform: uppercase;
        text-decoration: none;
        border: none;
        cursor: pointer;

        &:hover {
            box-shadow: 0 0 7px black;
        }
    }

    .link {        
        color: $primary-textcolor;
        padding-top: 14px;
    }

    .forgot-password {
        display: block;
        clear: both;
    }

    .register-button {
        background-color: $strong-background;
        box-shadow: 0 0 3px black;
        padding: 14px 30px;
        font-size: 15px;
        display: inline-block;
        text-align: center;
        color: $primary-textcolor;
        text-transform: uppercase;
        text-decoration: none;
        border: none;
        cursor: pointer;
        float: right;

        &:hover {
            box-shadow: 0 0 7px black;
        }
    }
}

.account-avatar-small {
    border: 1px solid green;
    border-radius: 20px;
    width: 34px;
    height: 34px;
    position: absolute;
    right: 12%;
    top: 27px;
}

@media (max-width: 1280px) {
    .account-avatar-small {
        display: none;
    }
}

header {
    position: fixed;
    width: 100%;

    .logo {
        display: block;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: -20px;
        z-index: 100;
        max-width: 200px;
    }

    nav {
        background-color: $primary-background;
        box-shadow: 1px 10px 40px 0px rgba(0,0,0,0.75);
        text-transform: uppercase;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            .menu-left {
                float: left;
            }

            .menu-right {
                float: right;
            }

            li {
                
                width: 15%;

                a {
                    color: $primary-textcolor !important;
                    font-size: 16px;
                    text-decoration: none;
                    display: block;
                    padding: 37px 0px;
                    width: 100%;
                    text-align: center;
                    transition: 0.5s ease;

                    &:hover {
                        background-color: $primary-background-hover;

                        ul {
                            visibility: visible;
                        }
                    }
                }

                &:hover {
                    background-color: $primary-background-hover;
                    ul {
                        visibility: visible;
                        display: block;
                    }
                }

                ul {
                    position: absolute;
                    padding: 0;
                    margin: 0;
                    visibility: hidden;
                    display: none;
                    width: 100%;

                    li {
                        float: none;
                        width: 15%;
                        background-color: $primary-background;

                        .myaccount-title {
                            width: 100%;
                            background-color: $primary-background-hover;
                            padding: 9px 0px;
                            text-align: center;
                            font-weight: bold;
                            color: $primary-textcolor;
                        }

                        a {
                            color: $primary-textcolor !important;
                            text-decoration: none;
                            display: block;
                            transition: 0.5s ease;
                        }
                    }
                }
            }
        }
    }
}

.clear {
    clear: both;
}

.top-margin {
    padding: 50px 0px;
}

.slider {
    color: $primary-textcolor;
    margin-top: 270px;
    position: absolute;
    z-index: -5;

    div {
        margin-left: 50px;
        width: 80%;
        padding: 20px;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 26px;
    }

    button {
        display: none;
    }
}
